<mat-toolbar class="header">
    <div class="container">
        <span>
            <a>
                <img src="../../../assets/svg/logo.svg" alt="logo" id="logo">
            </a>
        </span>
    </div>
    <div class="container align-right">
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer" class="link">
                About
            </a>
        </span>
        <div class="horizontal-line"></div>
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer" class="link">
                Suport
            </a>
        </span>
        <div class="horizontal-line"></div>
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer" class="link">
                Contact us
            </a>
        </span>
    </div>
</mat-toolbar>
<div id="align-center">
    <app-divbox></app-divbox>
</div>