<mat-toolbar class="header">
    <div class="container">
        <span>
            <a>
                <img src="../../../assets/svg/logo.svg" alt="logo" id="logo">
            </a>
        </span>
    </div>
    <div class="container align-right">
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer" class="link">
                About
            </a>
        </span>
        <div class="horizontal-line"></div>
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer" class="link">
                Suport
            </a>
        </span>
        <div class="horizontal-line"></div>
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer" class="link">
                Contact us
            </a>
        </span>
    </div>
</mat-toolbar>
<div id="align-center">
    <div id="login-box">
        <div class="login-align-center">
            <span>
                <p>Sign in to Grades</p>
            </span>
        </div>
        <div>
            <form action="submit" id="login-inputs">
                <input
                    type="email"
                    name="email"
                    id="input-email"
                    placeholder="Type your email">
                <input
                    type="password"
                    name="password"
                    id="input-password"
                    placeholder="Type your password">
                <div id="button-submit">
                    <button type="submit" id="form-submit">Let's go!</button>
                </div>
                <div id="other-texts">
                    <span>
                        <a href="#">Don't have account? Join now!</a>
                        <a href="#">Forgot your password?</a>
                    </span>
                </div>
                <div id="alternatives-login">
                    <a href="#">
                        <img src="../../../assets/svg/Google 1.svg" alt="Login with google">
                    </a>
                    <a href="#">
                        <img src="../../../assets/svg/facebook logo-02 1.svg" alt="Login with facebook">
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>