$bodyColor: #0D1117;
$strokeColor: #30363D;
$font: 'Abel', sans-serif;
$hoverColor: #B4F1AA;

@mixin textSetup {
    font-family: $font;
    font-size: 17px;
    color: white;
}

mat-toolbar.header {
    padding-top: 1.5em;
    background-color: #0D1117;
    display: flex;
    align-items: center;
    color: white;
    @include textSetup();
}

#logo {
    height: 43px;
    width: 130px;
}

div.container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-top: 0.5em;
}

div.align-right {
    justify-content: end;
    width: max-content;
    margin-right: 0.5em;
}

a.link {
    text-decoration: none;
    color: white;
    margin-right: 0.5em;
    transition: font-size 0.3s ease;

}

a.link:hover {
    font-size: 17.5px;
    color: #F1B8B8;
}

div.horizontal-line {
    border: 1px solid #D2D2D2;
    transform: rotate(90deg);
    width: 39px;
}

div#align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

div.login-align-center {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

div#login-box {
    box-sizing: border-box;
    width: 360px;
    height: 470px;
    background: #161B22;
    border: 0.5px solid #30363D;
    border-radius: 20px;
    stroke: $strokeColor;
}

form#login-inputs {
    justify-content: center;
    display: grid;
}

form#login-inputs input {
    width: 302px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    outline: none;
    margin-top: 1.5em;
}

form#login-inputs button {
    width: 106px;
    height: 36.08px;
    background: #5A7FFF;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

form#login-inputs button:hover {
    width: 108px;
    height: 38.08px;
}

div#button-submit {
    display: grid;
    justify-content: center;
    padding-top: 2em;
}


div#other-texts {
    margin-top: 1em;
}

div#other-texts span {
    display: grid;
    justify-content: center;
    text-align: center;
}

div#other-texts span a {
    margin-top: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: font-size 0.3 ease;
}

div#other-texts span a:hover {
    color: $hoverColor;
    font-size: 16.5px;
}

div#alternatives-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

div#alternatives-login img {
    margin: 0 5px 0 5px;
    transition: width 0.3 ease;
    transition: height 0.3 ease;
}

div#alternatives-login img:hover {
    width: 40px;
    height: 40px;
}

@mixin placeholder {
    font-style: italic;
    font-family: $font;
}
input {
    font-family: $font;
    text-indent: 10px;
}

input:focus::placeholder {
    font-weight: bold;
}

input::placeholder {
    @include placeholder();
    opacity: 0.8;
}


p {
    @include textSetup();
    font-size: 22px;
}